
form.new{
    margin:0 auto;
    max-width: 1024px;
    h2{
        font-family: $Helvetica;
        font-weight: lighter;
        font-size: 30px;
        color: $grey-darker;
        padding: 20px 0 40px;
    }
    h3{
        font-family: $Helvetica;
        font-weight: lighter;
        font-size: 21px;
        color: $grey-darker;
        padding-bottom: 10px;
    }
    .select{
        position: relative;
        width: 480px;
        button{
            font-weight: bold;
            color: $placeholder-color;
            display: flex;
            padding: 10px 15px;
            margin:5px 0 30px;
            background: $input-border-grey;
            border: 1px solid $input-border-grey;
            font-size: 13px;
            width: inherit;
            justify-content: space-between;
            align-items: center;

            p{
                padding: 0;
                text-align: left;
            }
        }
        .options{
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 45px;
            z-index: 10;

            a{
                color: $options-color;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                background: $options-bg;
                border-bottom: 1px solid $input-border-grey;
                border-left: 1px solid $input-border-grey;
                border-right: 1px solid $input-border-grey;
                &:hover{
                    background: $options-bg-hover;
                }
            }
            &.show{
                display: block;
            }
        }
    }

    label{
        display: block;
        font-size: 15px;
        color: $brand-blue-darker;
    }
    input{
        display: block;
        font-size: 13px;
        padding: 10px 15px;
        margin:5px 0 30px;
        background: $input-bg-grey;
        border: 1px solid $input-border-grey;
        width: 450px;

        &::placeholder{
            color: $placeholder-color;
        }
        &[type=number],&[type=date]{
            width: 180px;
        }
        &[type=file]{
            display: none;
        }
        &#origin{
            width: 720px;
        }
    }
    textarea{
        display: block;
        font-size: 13px;
        padding: 10px 15px;
        margin:5px 0 30px;
        background: $input-bg-grey;
        border: 1px solid $input-border-grey;
        width: 720px;
        max-width: 720px;
        min-width: 720px;
        min-height: 100px;

        &::placeholder{
            color: $placeholder-color;
        }
    }
    p{
        width: 600px;
        color: $sorter-color;
        font-size: 15px;
        padding: 5px 0 30px;
    }
    .grey-buttons{
        background: $grey-button-bg;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px;
        text-align: center;
        width: 180px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &>div, &>section>div{
        max-width: 752px;
        display: flex;
        justify-content: space-between;
    }
    &>section{
        p{
            width: 480px;
            font-size: 12px;
        }
    }

    .actions{
        display: block;
        width: 260px;
        max-width: 260px;

        a{
            color: $brand;
            padding-left: 5px;
        }
        label{
            display: flex;
        }
        input, button{
            width: 100%;
            &[type=checkbox]{
                width: initial;
                margin-right: 13px;
            }
        }
        input[type=submit]{
            padding: 15px 0;
            background: $brand;
            border-color: $brand;
            color: $white;
            font-size: 16px;
            margin-bottom: 0;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $brand;
            background: $white;
            border: none;
            font-size: 13px;
            padding: 20px;
            img{
                display: block;
                height: 12px;
                margin-left: 10px;
            }
        }
    }
}